GKP_Metrics_Fetcher.json
{
  "name": "GKP Metrics Fetcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gkp-metrics",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000001",
      "name": "Webhook - Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1400, 300],
      "webhookId": "gkp-metrics"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc_name",
              "name": "doc_name",
              "value": "={{ $json.body.doc_name || 'GKP Metrics - ' + $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $json.body.language || '1001' }}",
              "type": "string"
            },
            {
              "id": "geo_target",
              "name": "geo_target",
              "value": "={{ $json.body.geo_target || '2276' }}",
              "type": "string"
            },
            {
              "id": "keywords",
              "name": "keywords",
              "value": "={{ JSON.stringify($json.body.keywords || []) }}",
              "type": "string"
            },
            {
              "id": "source_spreadsheet_id",
              "name": "source_spreadsheet_id",
              "value": "={{ $json.body.source_spreadsheet_id || '' }}",
              "type": "string"
            },
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $json.body.customer_id || '3460470607' }}",
              "type": "string"
            },
            {
              "id": "start_time",
              "name": "start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1160, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "hasSourceSheet",
              "leftValue": "={{ $json.source_spreadsheet_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "m1000001-0001-0001-0001-000000000003",
      "name": "Has Source Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-920, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Variables').item.json.source_spreadsheet_id }}/values/A:A?majorDimension=COLUMNS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000004",
      "name": "Read Keywords from Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-680, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract keywords from sheet (skip header row)\nconst values = $input.first().json.values || [];\nconst column = values[0] || [];\n// Skip first row (header) and filter empty\nconst keywords = column.slice(1).filter(k => k && k.trim());\n\nreturn [{ json: { keywords: keywords } }];"
      },
      "id": "m1000001-0001-0001-0001-000000000005",
      "name": "Parse Sheet Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-440, 200]
    },
    {
      "parameters": {
        "jsCode": "// Use keywords from body\nconst keywords = JSON.parse($('Set Variables').first().json.keywords || '[]');\nreturn [{ json: { keywords: keywords } }];"
      },
      "id": "m1000001-0001-0001-0001-000000000006",
      "name": "Use Body Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-680, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000007",
      "name": "Merge Keywords Source",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Set Variables').item.json.doc_name }}",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000008",
      "name": "Create Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [40, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split keywords into batches of 10,000 (API limit for Historical Metrics)\nconst allKeywords = $('Merge Keywords Source').first().json.keywords || [];\nconst BATCH_SIZE = 10000;\nconst batches = [];\n\nfor (let i = 0; i < allKeywords.length; i += BATCH_SIZE) {\n  batches.push(allKeywords.slice(i, i + BATCH_SIZE));\n}\n\nconst spreadsheetId = $input.first().json.spreadsheetId || $input.first().json.id;\n\nreturn [{\n  json: {\n    batches: batches,\n    totalBatches: batches.length,\n    totalKeywords: allKeywords.length,\n    currentBatch: 0,\n    allResults: [],\n    keywordsWithData: 0,\n    keywordsNoData: 0,\n    currentKeywords: batches.length > 0 ? batches[0] : [],\n    spreadsheetId: spreadsheetId\n  }\n}];"
      },
      "id": "m1000001-0001-0001-0001-000000000009",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v19/customers/{{ $('Set Variables').item.json.customer_id }}:generateKeywordHistoricalMetrics",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "developer-token", "value": "9KarAB-iwnq1oTfRx4T55w" },
            { "name": "login-customer-id", "value": "3993420980" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"keywords\": {{ JSON.stringify($json.currentKeywords) }},\n  \"language\": \"languageConstants/{{ $('Set Variables').item.json.language }}\",\n  \"geoTargetConstants\": [\"geoTargetConstants/{{ $('Set Variables').item.json.geo_target }}\"],\n  \"keywordPlanNetwork\": \"GOOGLE_SEARCH\"\n}",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000010",
      "name": "GKP - Fetch Metrics Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [520, 300],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "QJ9r7jX6BiPCIZvF",
          "name": "Google Ads account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge batch results and check if more batches needed\nconst apiResponse = $input.first().json;\nconst batchState = $('Split Into Batches').first().json;\n\n// Determine state source\nlet state;\ntry {\n  state = $('Check More Batches?').first().json;\n} catch(e) {\n  state = batchState;\n}\n\nconst newResults = apiResponse.results || [];\nconst allResults = [...(state.allResults || []), ...newResults];\nconst nextBatch = (state.currentBatch || 0) + 1;\nconst batches = state.batches;\nconst hasMore = nextBatch < batches.length;\n\n// Count keywords with/without data\nlet withData = state.keywordsWithData || 0;\nlet noData = state.keywordsNoData || 0;\nfor (const r of newResults) {\n  if (r.keywordMetrics && r.keywordMetrics.avgMonthlySearches) {\n    withData++;\n  } else {\n    noData++;\n  }\n}\n\nreturn [{\n  json: {\n    batches: batches,\n    totalBatches: batches.length,\n    totalKeywords: state.totalKeywords,\n    currentBatch: nextBatch,\n    allResults: allResults,\n    keywordsWithData: withData,\n    keywordsNoData: noData,\n    currentKeywords: hasMore ? batches[nextBatch] : [],\n    hasMore: hasMore,\n    spreadsheetId: state.spreadsheetId\n  }\n}];"
      },
      "id": "m1000001-0001-0001-0001-000000000011",
      "name": "Merge Batch Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "hasMore",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "m1000001-0001-0001-0001-000000000012",
      "name": "Check More Batches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "m1000001-0001-0001-0001-000000000013",
      "name": "Wait Between Batches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v19/customers/{{ $('Set Variables').item.json.customer_id }}:generateKeywordHistoricalMetrics",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "developer-token", "value": "9KarAB-iwnq1oTfRx4T55w" },
            { "name": "login-customer-id", "value": "3993420980" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"keywords\": {{ JSON.stringify($('Check More Batches?').item.json.currentKeywords) }},\n  \"language\": \"languageConstants/{{ $('Set Variables').item.json.language }}\",\n  \"geoTargetConstants\": [\"geoTargetConstants/{{ $('Set Variables').item.json.geo_target }}\"],\n  \"keywordPlanNetwork\": \"GOOGLE_SEARCH\"\n}",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000014",
      "name": "GKP - Next Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1480, 200],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "QJ9r7jX6BiPCIZvF",
          "name": "Google Ads account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge next batch results\nconst apiResponse = $input.first().json;\nconst state = $('Check More Batches?').first().json;\n\nconst newResults = apiResponse.results || [];\nconst allResults = [...state.allResults, ...newResults];\nconst nextBatch = state.currentBatch + 1;\nconst batches = state.batches;\nconst hasMore = nextBatch < batches.length;\n\nlet withData = state.keywordsWithData || 0;\nlet noData = state.keywordsNoData || 0;\nfor (const r of newResults) {\n  if (r.keywordMetrics && r.keywordMetrics.avgMonthlySearches) {\n    withData++;\n  } else {\n    noData++;\n  }\n}\n\nreturn [{\n  json: {\n    batches: batches,\n    totalBatches: batches.length,\n    totalKeywords: state.totalKeywords,\n    currentBatch: nextBatch,\n    allResults: allResults,\n    keywordsWithData: withData,\n    keywordsNoData: noData,\n    currentKeywords: hasMore ? batches[nextBatch] : [],\n    hasMore: hasMore,\n    spreadsheetId: state.spreadsheetId\n  }\n}];"
      },
      "id": "m1000001-0001-0001-0001-000000000015",
      "name": "Merge Next Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format metrics data into spreadsheet rows\nconst input = $input.first().json;\nconst allResults = input.allResults || [];\n\n// Month enum to short name\nconst monthMap = {JANUARY:'Jan',FEBRUARY:'Feb',MARCH:'Mar',APRIL:'Apr',MAY:'May',JUNE:'Jun',JULY:'Jul',AUGUST:'Aug',SEPTEMBER:'Sep',OCTOBER:'Oct',NOVEMBER:'Nov',DECEMBER:'Dec'};\n\n// Get month headers from first result with data\nlet monthHeaders = [];\nfor (const r of allResults) {\n  const volumes = r.keywordMetrics?.monthlySearchVolumes || [];\n  if (volumes.length > 0) {\n    monthHeaders = volumes.map(m => {\n      const name = monthMap[m.month] || m.month;\n      return name + ' ' + m.year;\n    });\n    break;\n  }\n}\n\n// Build header row\nconst headerRow = ['Keyword', 'Avg. Monthly Searches', 'Competition', 'Competition Index', ...monthHeaders];\nconst rows = [headerRow];\n\n// Parse each result\nfor (const r of allResults) {\n  const kw = r.text || r.keyword || '';\n  const metrics = r.keywordMetrics || {};\n  const avg = metrics.avgMonthlySearches ? parseInt(metrics.avgMonthlySearches) : 0;\n  const comp = metrics.competition || 'N/A';\n  const compIndex = metrics.competitionIndex !== undefined ? metrics.competitionIndex : '';\n  \n  const monthlyVolumes = (metrics.monthlySearchVolumes || []).map(m => {\n    return m.monthlySearches ? parseInt(m.monthlySearches) : 0;\n  });\n  \n  // Pad monthly volumes if needed\n  while (monthlyVolumes.length < monthHeaders.length) {\n    monthlyVolumes.push(0);\n  }\n  \n  rows.push([kw, avg, comp, compIndex, ...monthlyVolumes]);\n}\n\nconst processingTime = Math.round((Date.now() - $('Set Variables').first().json.start_time) / 1000);\n\nreturn [{\n  json: {\n    rows: rows,\n    totalKeywords: allResults.length,\n    keywordsWithData: input.keywordsWithData,\n    keywordsNoData: input.keywordsNoData,\n    processingTime: processingTime,\n    spreadsheetId: input.spreadsheetId\n  }\n}];"
      },
      "id": "m1000001-0001-0001-0001-000000000016",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/A1:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"range\": \"A1\", \"majorDimension\": \"ROWS\", \"values\": $json.rows }) }}",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000017",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1240, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "m1000001-0001-0001-0001-000000000018",
      "name": "Wait for Write",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1480, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Format Data').first().json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"repeatCell\": {\n        \"range\": { \"sheetId\": 0, \"startRowIndex\": 0, \"endRowIndex\": 1 },\n        \"cell\": {\n          \"userEnteredFormat\": {\n            \"backgroundColor\": { \"red\": 0.086, \"green\": 0.627, \"blue\": 0.522 },\n            \"textFormat\": { \"bold\": true, \"foregroundColor\": { \"red\": 1, \"green\": 1, \"blue\": 1 }, \"fontSize\": 11 }\n          }\n        },\n        \"fields\": \"userEnteredFormat(backgroundColor,textFormat)\"\n      }\n    },\n    {\n      \"updateDimensionProperties\": {\n        \"range\": { \"sheetId\": 0, \"dimension\": \"COLUMNS\", \"startIndex\": 0, \"endIndex\": 1 },\n        \"properties\": { \"pixelSize\": 350 },\n        \"fields\": \"pixelSize\"\n      }\n    },\n    {\n      \"updateDimensionProperties\": {\n        \"range\": { \"sheetId\": 0, \"dimension\": \"COLUMNS\", \"startIndex\": 1, \"endIndex\": 20 },\n        \"properties\": { \"pixelSize\": 120 },\n        \"fields\": \"pixelSize\"\n      }\n    },\n    {\n      \"setBasicFilter\": {\n        \"filter\": {\n          \"range\": { \"sheetId\": 0, \"startRowIndex\": 0, \"startColumnIndex\": 0, \"endColumnIndex\": 20 }\n        }\n      }\n    },\n    {\n      \"updateSheetProperties\": {\n        \"properties\": { \"sheetId\": 0, \"gridProperties\": { \"frozenRowCount\": 1 } },\n        \"fields\": \"gridProperties.frozenRowCount\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000019",
      "name": "Format Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1720, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"spreadsheet_url\": \"https://docs.google.com/spreadsheets/d/{{ $('Format Data').first().json.spreadsheetId }}\",\n  \"spreadsheet_id\": \"{{ $('Format Data').first().json.spreadsheetId }}\",\n  \"total_keywords\": {{ $('Format Data').first().json.totalKeywords }},\n  \"keywords_with_data\": {{ $('Format Data').first().json.keywordsWithData }},\n  \"keywords_no_data\": {{ $('Format Data').first().json.keywordsNoData }},\n  \"processing_time_seconds\": {{ $('Format Data').first().json.processingTime }}\n}",
        "options": {}
      },
      "id": "m1000001-0001-0001-0001-000000000020",
      "name": "Respond - Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 500]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Start": {
      "main": [[{ "node": "Set Variables", "type": "main", "index": 0 }]]
    },
    "Set Variables": {
      "main": [[{ "node": "Has Source Sheet?", "type": "main", "index": 0 }]]
    },
    "Has Source Sheet?": {
      "main": [
        [{ "node": "Read Keywords from Sheet", "type": "main", "index": 0 }],
        [{ "node": "Use Body Keywords", "type": "main", "index": 0 }]
      ]
    },
    "Read Keywords from Sheet": {
      "main": [[{ "node": "Parse Sheet Keywords", "type": "main", "index": 0 }]]
    },
    "Parse Sheet Keywords": {
      "main": [[{ "node": "Merge Keywords Source", "type": "main", "index": 0 }]]
    },
    "Use Body Keywords": {
      "main": [[{ "node": "Merge Keywords Source", "type": "main", "index": 1 }]]
    },
    "Merge Keywords Source": {
      "main": [[{ "node": "Create Spreadsheet", "type": "main", "index": 0 }]]
    },
    "Create Spreadsheet": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    },
    "Split Into Batches": {
      "main": [[{ "node": "GKP - Fetch Metrics Batch", "type": "main", "index": 0 }]]
    },
    "GKP - Fetch Metrics Batch": {
      "main": [[{ "node": "Merge Batch Results", "type": "main", "index": 0 }]]
    },
    "Merge Batch Results": {
      "main": [[{ "node": "Check More Batches?", "type": "main", "index": 0 }]]
    },
    "Check More Batches?": {
      "main": [
        [{ "node": "Wait Between Batches", "type": "main", "index": 0 }],
        [{ "node": "Format Data", "type": "main", "index": 0 }]
      ]
    },
    "Wait Between Batches": {
      "main": [[{ "node": "GKP - Next Batch", "type": "main", "index": 0 }]]
    },
    "GKP - Next Batch": {
      "main": [[{ "node": "Merge Next Batch", "type": "main", "index": 0 }]]
    },
    "Merge Next Batch": {
      "main": [[{ "node": "Check More Batches?", "type": "main", "index": 0 }]]
    },
    "Format Data": {
      "main": [[{ "node": "Write to Sheet", "type": "main", "index": 0 }]]
    },
    "Write to Sheet": {
      "main": [[{ "node": "Wait for Write", "type": "main", "index": 0 }]]
    },
    "Wait for Write": {
      "main": [[{ "node": "Format Sheet", "type": "main", "index": 0 }]]
    },
    "Format Sheet": {
      "main": [[{ "node": "Respond - Done", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "00000000-0000-0000-0000-000000000001",
  "meta": { "instanceId": "9d17d52227a4e309d92bfdb193ff498ba1e95c0c0bc8ff19ed6534df76683725" },
  "id": "GKP_Metrics_Fetcher_001",
  "tags": []
}
