GKP_Universal_Report.json
{
  "name": "GKP Universal Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gkp-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000001",
      "name": "Webhook - Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300],
      "webhookId": "gkp-report"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc_name",
              "name": "doc_name",
              "value": "={{ $json.body.doc_name || 'GKP Report - ' + $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $json.body.language || '1000' }}",
              "type": "string"
            },
            {
              "id": "geo_target",
              "name": "geo_target",
              "value": "={{ $json.body.geo_target || '2804' }}",
              "type": "string"
            },
            {
              "id": "seed_keywords",
              "name": "seed_keywords",
              "value": "={{ JSON.stringify($json.body.seed_keywords || ['кросівки']) }}",
              "type": "string"
            },
            {
              "id": "url_mapping",
              "name": "url_mapping",
              "value": "={{ JSON.stringify($json.body.url_mapping || {}) }}",
              "type": "string"
            },
            {
              "id": "limit",
              "name": "limit",
              "value": "={{ $json.body.limit || 600 }}",
              "type": "number"
            },
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $json.body.customer_id || '3460470607' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-960, 300]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Set Variables').item.json.doc_name }}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000003",
      "name": "Create Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-720, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split keywords into batches of 20 (Google Ads API limit)\nconst allKeywords = JSON.parse($('Set Variables').first().json.seed_keywords);\nconst BATCH_SIZE = 20;\nconst batches = [];\n\nfor (let i = 0; i < allKeywords.length; i += BATCH_SIZE) {\n  batches.push(allKeywords.slice(i, i + BATCH_SIZE));\n}\n\nreturn [{\n  json: {\n    batches: batches,\n    totalBatches: batches.length,\n    currentBatch: 0,\n    allResults: [],\n    currentKeywords: JSON.stringify(batches[0])\n  }\n}];"
      },
      "id": "a1000001-0001-0001-0001-000000000020",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v19/customers/{{ $('Set Variables').item.json.customer_id }}:generateKeywordIdeas",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "developer-token",
              "value": "9KarAB-iwnq1oTfRx4T55w"
            },
            {
              "name": "login-customer-id",
              "value": "3993420980"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"keywordSeed\": {\n    \"keywords\": {{ $json.currentKeywords }}\n  },\n  \"language\": \"languageConstants/{{ $('Set Variables').item.json.language }}\",\n  \"geoTargetConstants\": [\"geoTargetConstants/{{ $('Set Variables').item.json.geo_target }}\"],\n  \"keywordPlanNetwork\": \"GOOGLE_SEARCH\",\n  \"pageSize\": 1000\n}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000004",
      "name": "GKP - Fetch Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-240, 300],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "QJ9r7jX6BiPCIZvF",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge batch results and check if more batches needed\nconst apiResponse = $input.first().json;\nconst batchState = $('Split Into Batches').first().json;\n\n// On first iteration, use Split node data; on subsequent, use loop data\nlet state;\ntry {\n  state = $('Check More Batches?').first().json;\n} catch(e) {\n  state = batchState;\n}\n\nconst newResults = apiResponse.results || [];\nconst allResults = [...(state.allResults || []), ...newResults];\nconst nextBatch = (state.currentBatch || 0) + 1;\nconst batches = state.batches;\n\nconst hasMore = nextBatch < batches.length;\n\nreturn [{\n  json: {\n    batches: batches,\n    totalBatches: batches.length,\n    currentBatch: nextBatch,\n    allResults: allResults,\n    currentKeywords: hasMore ? JSON.stringify(batches[nextBatch]) : '[]',\n    hasMore: hasMore,\n    totalFetched: allResults.length\n  }\n}];"
      },
      "id": "a1000001-0001-0001-0001-000000000021",
      "name": "Merge Batch Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "hasMore",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1000001-0001-0001-0001-000000000006",
      "name": "Check More Batches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "a1000001-0001-0001-0001-000000000007",
      "name": "Wait Between Batches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [480, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v19/customers/{{ $('Set Variables').item.json.customer_id }}:generateKeywordIdeas",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "developer-token",
              "value": "9KarAB-iwnq1oTfRx4T55w"
            },
            {
              "name": "login-customer-id",
              "value": "3993420980"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"keywordSeed\": {\n    \"keywords\": {{ $('Check More Batches?').item.json.currentKeywords }}\n  },\n  \"language\": \"languageConstants/{{ $('Set Variables').item.json.language }}\",\n  \"geoTargetConstants\": [\"geoTargetConstants/{{ $('Set Variables').item.json.geo_target }}\"],\n  \"keywordPlanNetwork\": \"GOOGLE_SEARCH\",\n  \"pageSize\": 1000\n}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000008",
      "name": "GKP - Next Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [720, 200],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "QJ9r7jX6BiPCIZvF",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge next batch results\nconst apiResponse = $input.first().json;\nconst state = $('Check More Batches?').first().json;\n\nconst newResults = apiResponse.results || [];\nconst allResults = [...state.allResults, ...newResults];\nconst nextBatch = state.currentBatch + 1;\nconst batches = state.batches;\nconst hasMore = nextBatch < batches.length;\n\nreturn [{\n  json: {\n    batches: batches,\n    totalBatches: batches.length,\n    currentBatch: nextBatch,\n    allResults: allResults,\n    currentKeywords: hasMore ? JSON.stringify(batches[nextBatch]) : '[]',\n    hasMore: hasMore,\n    totalFetched: allResults.length\n  }\n}];"
      },
      "id": "a1000001-0001-0001-0001-000000000022",
      "name": "Merge Next Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format GKP data into spreadsheet rows\nconst input = $input.first().json;\nconst allResults = input.allResults || [];\nconst limit = $('Set Variables').first().json.limit || 600;\nconst urlMapping = JSON.parse($('Set Variables').first().json.url_mapping || '{}');\nconst seedKeywords = JSON.parse($('Set Variables').first().json.seed_keywords || '[]');\n\n// Deduplicate by keyword text\nconst seen = new Set();\nconst uniqueResults = allResults.filter(r => {\n  const key = (r.text || '').toLowerCase();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\n// Month enum to short name\nconst monthMap = {JANUARY:'Jan',FEBRUARY:'Feb',MARCH:'Mar',APRIL:'Apr',MAY:'May',JUNE:'Jun',JULY:'Jul',AUGUST:'Aug',SEPTEMBER:'Sep',OCTOBER:'Oct',NOVEMBER:'Nov',DECEMBER:'Dec'};\n\n// Parse each result\nconst parsed = uniqueResults.map(r => {\n  const kw = r.text || '';\n  const metrics = r.keywordIdeaMetrics || {};\n  const avg = metrics.avgMonthlySearches ? parseInt(metrics.avgMonthlySearches) : 0;\n  const comp = metrics.competition || 'N/A';\n  const compIndex = metrics.competitionIndex !== undefined ? metrics.competitionIndex : '';\n  \n  const monthlyVolumes = (metrics.monthlySearchVolumes || []).map(m => {\n    return m.monthlySearches ? parseInt(m.monthlySearches) : 0;\n  });\n  \n  const monthHeaders = (metrics.monthlySearchVolumes || []).map(m => {\n    const name = monthMap[m.month] || m.month;\n    return name + ' ' + m.year;\n  });\n  \n  const url = urlMapping[kw] || '';\n  \n  let seedGroup = 'Other';\n  for (const seed of seedKeywords) {\n    if (kw.toLowerCase().includes(seed.toLowerCase()) || seed.toLowerCase().includes(kw.toLowerCase())) {\n      seedGroup = seed;\n      break;\n    }\n  }\n  \n  return { keyword: kw, url, avgMonthlySearches: avg, competition: comp, competitionIndex: compIndex, monthlyVolumes, monthHeaders, seedGroup };\n});\n\nparsed.sort((a, b) => b.avgMonthlySearches - a.avgMonthlySearches);\nconst limited = parsed.slice(0, limit);\n\nconst groups = {};\nfor (const item of limited) {\n  if (!groups[item.seedGroup]) groups[item.seedGroup] = [];\n  groups[item.seedGroup].push(item);\n}\n\nconst monthHeaderRow = limited.length > 0 ? limited[0].monthHeaders : [];\nconst headerRow = ['Keyword', 'URL', 'Avg. monthly searches', 'Competition', 'Competition (indexed value)', ...monthHeaderRow];\nconst rows = [headerRow];\n\nfor (const [seedName, items] of Object.entries(groups)) {\n  rows.push(new Array(headerRow.length).fill(''));\n  const ch = new Array(headerRow.length).fill('');\n  ch[0] = `Cluster: ${seedName}`;\n  rows.push(ch);\n  \n  for (const item of items) {\n    rows.push([item.keyword, item.url, item.avgMonthlySearches, item.competition, item.competitionIndex, ...item.monthlyVolumes]);\n  }\n  \n  const sr = new Array(headerRow.length).fill('');\n  sr[0] = 'Cluster monthly searches:';\n  sr[2] = items.reduce((sum, i) => sum + i.avgMonthlySearches, 0);\n  rows.push(sr);\n}\n\nreturn [{\n  json: {\n    rows: rows,\n    totalKeywords: limited.length,\n    totalGroups: Object.keys(groups).length,\n    sheetId: $('Create Spreadsheet').first().json.spreadsheetId || $('Create Spreadsheet').first().json.id\n  }\n}];"
      },
      "id": "a1000001-0001-0001-0001-000000000010",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.sheetId }}/values/A1:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"range\": \"A1\", \"majorDimension\": \"ROWS\", \"values\": $json.rows }) }}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000011",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [480, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "a1000001-0001-0001-0001-000000000012",
      "name": "Wait for Write",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [720, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Format Data').first().json.sheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"repeatCell\": {\n        \"range\": { \"sheetId\": 0, \"startRowIndex\": 0, \"endRowIndex\": 1 },\n        \"cell\": {\n          \"userEnteredFormat\": {\n            \"backgroundColor\": { \"red\": 0.2, \"green\": 0.4, \"blue\": 0.2 },\n            \"textFormat\": { \"bold\": true, \"foregroundColor\": { \"red\": 1, \"green\": 1, \"blue\": 1 }, \"fontSize\": 11 }\n          }\n        },\n        \"fields\": \"userEnteredFormat(backgroundColor,textFormat)\"\n      }\n    },\n    {\n      \"updateDimensionProperties\": {\n        \"range\": { \"sheetId\": 0, \"dimension\": \"COLUMNS\", \"startIndex\": 0, \"endIndex\": 1 },\n        \"properties\": { \"pixelSize\": 350 },\n        \"fields\": \"pixelSize\"\n      }\n    },\n    {\n      \"updateDimensionProperties\": {\n        \"range\": { \"sheetId\": 0, \"dimension\": \"COLUMNS\", \"startIndex\": 1, \"endIndex\": 2 },\n        \"properties\": { \"pixelSize\": 400 },\n        \"fields\": \"pixelSize\"\n      }\n    },\n    {\n      \"updateDimensionProperties\": {\n        \"range\": { \"sheetId\": 0, \"dimension\": \"COLUMNS\", \"startIndex\": 2, \"endIndex\": 17 },\n        \"properties\": { \"pixelSize\": 150 },\n        \"fields\": \"pixelSize\"\n      }\n    },\n    {\n      \"setBasicFilter\": {\n        \"filter\": {\n          \"range\": { \"sheetId\": 0, \"startRowIndex\": 0, \"startColumnIndex\": 0, \"endColumnIndex\": 17 }\n        }\n      }\n    },\n    {\n      \"updateSheetProperties\": {\n        \"properties\": { \"sheetId\": 0, \"gridProperties\": { \"frozenRowCount\": 1 } },\n        \"fields\": \"gridProperties.frozenRowCount\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000013",
      "name": "Format Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [960, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"spreadsheet_url\": \"https://docs.google.com/spreadsheets/d/{{ $('Format Data').first().json.sheetId }}\",\n  \"total_keywords\": {{ $('Format Data').first().json.totalKeywords }},\n  \"total_clusters\": {{ $('Format Data').first().json.totalGroups }}\n}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000014",
      "name": "Respond - Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 500]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Start": {
      "main": [[{ "node": "Set Variables", "type": "main", "index": 0 }]]
    },
    "Set Variables": {
      "main": [[{ "node": "Create Spreadsheet", "type": "main", "index": 0 }]]
    },
    "Create Spreadsheet": {
      "main": [[{ "node": "Split Into Batches", "type": "main", "index": 0 }]]
    },
    "Split Into Batches": {
      "main": [[{ "node": "GKP - Fetch Batch", "type": "main", "index": 0 }]]
    },
    "GKP - Fetch Batch": {
      "main": [[{ "node": "Merge Batch Results", "type": "main", "index": 0 }]]
    },
    "Merge Batch Results": {
      "main": [[{ "node": "Check More Batches?", "type": "main", "index": 0 }]]
    },
    "Check More Batches?": {
      "main": [
        [{ "node": "Wait Between Batches", "type": "main", "index": 0 }],
        [{ "node": "Format Data", "type": "main", "index": 0 }]
      ]
    },
    "Wait Between Batches": {
      "main": [[{ "node": "GKP - Next Batch", "type": "main", "index": 0 }]]
    },
    "GKP - Next Batch": {
      "main": [[{ "node": "Merge Next Batch", "type": "main", "index": 0 }]]
    },
    "Merge Next Batch": {
      "main": [[{ "node": "Check More Batches?", "type": "main", "index": 0 }]]
    },
    "Format Data": {
      "main": [[{ "node": "Write to Sheet", "type": "main", "index": 0 }]]
    },
    "Write to Sheet": {
      "main": [[{ "node": "Wait for Write", "type": "main", "index": 0 }]]
    },
    "Wait for Write": {
      "main": [[{ "node": "Format Sheet", "type": "main", "index": 0 }]]
    },
    "Format Sheet": {
      "main": [[{ "node": "Respond - Done", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000002",
  "meta": {
    "instanceId": "9d17d52227a4e309d92bfdb193ff498ba1e95c0c0bc8ff19ed6534df76683725"
  },
  "id": "GKP_Universal_001",
  "tags": []
}
