PDF_Audit_Parser.json
{
  "name": "PDF Audit Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parse-pdf-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract data from webhook body\nconst webhookData = $input.first().json;\nconst body = webhookData.body || {};\n\nreturn {\n  pdfUrl: body.pdfUrl || '',\n  outputSheetName: body.outputName || 'SEO Audit Report - ' + new Date().toISOString().slice(0, 10)\n};"
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract Google Drive file ID from URL\nconst pdfUrl = $input.first().json.pdfUrl || '';\nlet fileId = '';\n\nif (!pdfUrl) {\n  throw new Error('PDF URL is empty. Please provide a valid Google Drive URL.');\n}\n\n// Handle different Google Drive URL formats\nif (pdfUrl.includes('/file/d/')) {\n  fileId = pdfUrl.split('/file/d/')[1].split('/')[0];\n} else if (pdfUrl.includes('id=')) {\n  fileId = pdfUrl.split('id=')[1].split('&')[0];\n} else if (pdfUrl.includes('drive.google.com/open')) {\n  fileId = pdfUrl.split('id=')[1];\n}\n\nif (!fileId) {\n  throw new Error('Could not extract file ID from URL: ' + pdfUrl);\n}\n\nreturn {\n  fileId: fileId,\n  downloadUrl: 'https://drive.google.com/uc?export=download&id=' + fileId,\n  outputSheetName: $input.first().json.outputSheetName\n};"
      },
      "id": "extract-file-id",
      "name": "Extract File ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "options": {}
      },
      "id": "google-drive-download",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "extract-pdf-text",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split the extracted text into sections for processing\nconst fullText = $input.first().json.text;\nconst outputSheetName = $('Extract File ID').first().json.outputSheetName;\n\n// Clean text from Netpeak brand mentions\nfunction removeBrand(text) {\n  return text\n    .replace(/Netpeak Spider/gi, '')\n    .replace(/Netpeak Software/gi, '')\n    .replace(/Netpeak Checker/gi, '')\n    .replace(/Netpeak/gi, '')\n    .replace(/netpeaksoftware\\.com/gi, '')\n    .replace(/\\u0410\\u0443\\u0434\\u0438\\u0442\\s*\\n/g, '')\n    .replace(/\\d+\\/25\\n?/g, '')\n    .trim();\n}\n\nconst cleanedText = removeBrand(fullText);\n\nreturn {\n  fullText: cleanedText,\n  outputSheetName: outputSheetName,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "clean-text",
      "name": "Clean Text & Remove Brand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ти експерт з парсингу SEO-аудит звітів. Твоя задача - витягти ВСІ дані з технічного SEO-аудиту та структурувати їх у форматі JSON.\n\nВАЖЛИВО:\n1. Витягни АБСОЛЮТНО ВСІ числові дані, відсотки, URL-приклади\n2. НЕ пропускай жодного розділу чи підрозділу\n3. Зберігай точність чисел та відсотків\n4. Для помилок завжди включай приклад URL якщо він є\n5. Відповідь має бути ТІЛЬКИ валідним JSON без markdown"
            },
            {
              "role": "user",
              "content": "Проаналізуй цей SEO-аудит звіт та витягни ВСІ дані у такому JSON форматі:\n\n{\n  \"generalInfo\": {\n    \"siteUrl\": \"\",\n    \"auditDate\": \"\",\n    \"scanMode\": \"\",\n    \"parametersAnalyzed\": \"\"\n  },\n  \"summary\": {\n    \"totalUrlsChecked\": 0,\n    \"urlBreakdown\": [\n      {\"type\": \"\", \"count\": 0, \"percent\": \"\"}\n    ],\n    \"urlsWithErrors\": {\n      \"total\": 0,\n      \"percent\": \"\",\n      \"breakdown\": [\n        {\"type\": \"\", \"count\": 0, \"percent\": \"\"}\n      ]\n    }\n  },\n  \"contentTypes\": [\n    {\"type\": \"\", \"count\": 0, \"percent\": \"\"}\n  ],\n  \"topHosts\": [\n    {\"host\": \"\", \"urlCount\": 0, \"percent\": \"\"}\n  ],\n  \"urlStructure\": [\n    {\"host\": \"\", \"segment\": \"\", \"count\": 0, \"percent\": \"\"}\n  ],\n  \"serverResponseCodes\": [\n    {\"code\": \"\", \"description\": \"\", \"count\": 0, \"percent\": \"\"}\n  ],\n  \"indexability\": {\n    \"searchOpenness\": [\n      {\"status\": \"\", \"count\": 0, \"percent\": \"\"}\n    ],\n    \"closureReasons\": [\n      {\"reason\": \"\", \"count\": 0, \"percent\": \"\"}\n    ]\n  },\n  \"metaRobots\": [\n    {\"directive\": \"\", \"count\": 0, \"percent\": \"\"}\n  ],\n  \"canonicalUsage\": [\n    {\"status\": \"\", \"count\": 0, \"percent\": \"\"}\n  ],\n  \"urlDepth\": [\n    {\"depth\": 0, \"count\": 0}\n  ],\n  \"urlNesting\": [\n    {\"nesting\": 0, \"count\": 0}\n  ],\n  \"loadingSpeedHtml\": {\n    \"maxMs\": 0,\n    \"minMs\": 0,\n    \"medianMs\": 0,\n    \"distribution\": [\n      {\"category\": \"\", \"count\": 0, \"percent\": \"\"}\n    ]\n  },\n  \"loadingSpeedResources\": {\n    \"maxMs\": 0,\n    \"minMs\": 0,\n    \"medianMs\": 0,\n    \"distribution\": [\n      {\"category\": \"\", \"count\": 0, \"percent\": \"\"}\n    ]\n  },\n  \"protocols\": {\n    \"html\": [{\"protocol\": \"\", \"count\": 0, \"percent\": \"\"}],\n    \"resources\": [{\"protocol\": \"\", \"count\": 0, \"percent\": \"\"}]\n  },\n  \"seoElements\": {\n    \"uniqueness\": [\n      {\"element\": \"\", \"unique\": \"\", \"duplicated\": \"\", \"missing\": \"\"}\n    ],\n    \"length\": [\n      {\"element\": \"\", \"optimal\": \"\", \"short\": \"\", \"long\": \"\"}\n    ]\n  },\n  \"contentMetrics\": {\n    \"charactersPerPage\": [\n      {\"category\": \"\", \"count\": 0, \"percent\": \"\"}\n    ],\n    \"wordsPerPage\": [\n      {\"category\": \"\", \"count\": 0, \"percent\": \"\"}\n    ],\n    \"imageSizes\": [\n      {\"category\": \"\", \"count\": 0, \"percent\": \"\"}\n    ]\n  },\n  \"errors\": {\n    \"criticality\": {\n      \"high\": 0,\n      \"medium\": 0,\n      \"low\": 0\n    },\n    \"topErrors\": [\n      {\"error\": \"\", \"count\": 0, \"percent\": \"\"}\n    ],\n    \"highCriticality\": [\n      {\"error\": \"\", \"exampleUrl\": \"\", \"count\": 0}\n    ],\n    \"mediumCriticality\": [\n      {\"error\": \"\", \"exampleUrl\": \"\", \"count\": 0}\n    ],\n    \"lowCriticality\": [\n      {\"error\": \"\", \"exampleUrl\": \"\", \"count\": 0}\n    ],\n    \"notDetected\": [\"\"]\n  },\n  \"scanSettings\": {\n    \"analyzedData\": {\n      \"scannedUrls\": \"\",\n      \"segmentation\": \"\",\n      \"parametersSelected\": \"\"\n    },\n    \"speedSettings\": {\n      \"maxTimeout\": \"\",\n      \"jsRendering\": \"\"\n    },\n    \"crawlInstructions\": {},\n    \"crawlLimits\": {},\n    \"generalSettings\": {},\n    \"advancedSettings\": {}\n  }\n}\n\nТекст звіту:\n\n{{ $json.fullText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 16000
        }
      },
      "id": "ai-parser",
      "name": "AI Parser - Extract All Data",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1540, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and prepare data for sheets\nconst aiResponse = $input.first().json.message.content;\nconst outputSheetName = $('Clean Text & Remove Brand').first().json.outputSheetName;\n\nlet parsedData;\ntry {\n  // Remove markdown code blocks if present\n  let cleanJson = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsedData = JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error('Failed to parse AI response as JSON: ' + e.message);\n}\n\nreturn {\n  parsedData: parsedData,\n  outputSheetName: outputSheetName\n};"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "create",
        "title": "={{ $json.outputSheetName }}",
        "options": {}
      },
      "id": "create-spreadsheet",
      "name": "Create Result Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1980, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build all data for a single sheet with section dividers\nconst data = $('Parse AI Response').first().json.parsedData;\nconst input = $input.first().json;\nconst spreadsheetId = input.spreadsheetId || input.id;\nconst spreadsheetUrl = input.spreadsheetUrl || input.url;\n\nconst rows = [];\nconst sectionRows = [];\nconst tableHeaderRows = [];\nconst subHeaderRows = [];\n\nfunction section(title) {\n  sectionRows.push(rows.length);\n  rows.push([title, '', '', '', '', '']);\n}\n\nfunction th() {\n  tableHeaderRows.push(rows.length);\n  var args = [];\n  for (var i = 0; i < arguments.length; i++) args.push(arguments[i]);\n  while (args.length < 6) args.push('');\n  rows.push(args);\n}\n\nfunction sub(title) {\n  subHeaderRows.push(rows.length);\n  rows.push([title, '', '', '', '', '']);\n}\n\nfunction r() {\n  var args = [];\n  for (var i = 0; i < arguments.length; i++) args.push(arguments[i]);\n  while (args.length < 6) args.push('');\n  rows.push(args);\n}\n\nfunction empty() {\n  rows.push(['', '', '', '', '', '']);\n}\n\n// ===== TITLE =====\nsection('SEO АУДИТ — ЗВІТ');\nempty();\n\n// ===== 1. GENERAL INFO =====\nsection('1. ЗАГАЛЬНА ІНФОРМАЦІЯ');\nth('Параметр', 'Значення');\nr('URL сайту', data.generalInfo?.siteUrl || '');\nr('Дата аудиту', data.generalInfo?.auditDate || '');\nr('Режим сканування', data.generalInfo?.scanMode || '');\nr('Параметри для аналізу', data.generalInfo?.parametersAnalyzed || '');\nempty();\n\n// ===== 2. SUMMARY =====\nsection('2. ЗВЕДЕННЯ');\nr('Перевірено URL', data.summary?.totalUrlsChecked || 0);\nempty();\nsub('Розподіл URL за типом');\nth('Тип', 'Кількість', 'Відсоток');\n(data.summary?.urlBreakdown || []).forEach(function(item) { r(item.type, item.count, item.percent); });\nempty();\nsub('URL з помилками');\nr('Всього URL з помилками', data.summary?.urlsWithErrors?.total || 0, data.summary?.urlsWithErrors?.percent || '');\nth('Тип помилки', 'Кількість', 'Відсоток');\n(data.summary?.urlsWithErrors?.breakdown || []).forEach(function(item) { r(item.type, item.count, item.percent); });\nempty();\n\n// ===== 3. CONTENT TYPES =====\nsection('3. ТИПИ КОНТЕНТУ');\nth('Тип контенту', 'Кількість', 'Відсоток');\n(data.contentTypes || []).forEach(function(item) { r(item.type, item.count, item.percent); });\nempty();\n\n// ===== 4. URL STRUCTURE =====\nsection('4. СТРУКТУРА URL');\nth('Хост', 'Сегмент', 'Кількість', 'Відсоток');\n(data.urlStructure || []).forEach(function(item) { r(item.host, item.segment, item.count, item.percent); });\nempty();\n\n// ===== 5. SERVER RESPONSE CODES =====\nsection('5. КОДИ ВІДПОВІДЕЙ СЕРВЕРА');\nth('Код', 'Опис', 'Кількість', 'Відсоток');\n(data.serverResponseCodes || []).forEach(function(item) { r(item.code, item.description, item.count, item.percent); });\nempty();\n\n// ===== 6. INDEXABILITY =====\nsection('6. ІНДЕКСАЦІЯ');\nsub('Відкритість для пошуку');\nth('Статус', 'Кількість', 'Відсоток');\n(data.indexability?.searchOpenness || []).forEach(function(item) { r(item.status, item.count, item.percent); });\nempty();\nsub('Причини закриття від індексації');\nth('Причина', 'Кількість', 'Відсоток');\n(data.indexability?.closureReasons || []).forEach(function(item) { r(item.reason, item.count, item.percent); });\nempty();\n\n// ===== 7. META ROBOTS & CANONICAL =====\nsection('7. META ROBOTS & CANONICAL');\nsub('Meta Robots директиви');\nth('Директива', 'Кількість', 'Відсоток');\n(data.metaRobots || []).forEach(function(item) { r(item.directive, item.count, item.percent); });\nempty();\nsub('Використання canonical');\nth('Статус', 'Кількість', 'Відсоток');\n(data.canonicalUsage || []).forEach(function(item) { r(item.status, item.count, item.percent); });\nempty();\n\n// ===== 8. URL DEPTH =====\nsection('8. ГЛИБИНА ТА ВКЛАДЕНІСТЬ URL');\nsub('Глибина (кліки від головної)');\nth('Глибина', 'Кількість URL');\n(data.urlDepth || []).forEach(function(item) { r(item.depth, item.count); });\nempty();\nsub('Вкладеність URL (сегменти)');\nth('Вкладеність', 'Кількість URL');\n(data.urlNesting || []).forEach(function(item) { r(item.nesting, item.count); });\nempty();\n\n// ===== 9. LOADING SPEED HTML =====\nsection('9. ШВИДКІСТЬ ЗАВАНТАЖЕННЯ HTML');\nth('Метрика', 'Значення');\nr('Максимальний час', (data.loadingSpeedHtml?.maxMs || 0) + ' мс');\nr('Мінімальний час', (data.loadingSpeedHtml?.minMs || 0) + ' мс');\nr('Медіана', (data.loadingSpeedHtml?.medianMs || 0) + ' мс');\nempty();\nsub('Розподіл за швидкістю');\nth('Категорія', 'Кількість', 'Відсоток');\n(data.loadingSpeedHtml?.distribution || []).forEach(function(item) { r(item.category, item.count, item.percent); });\nempty();\n\n// ===== 10. LOADING SPEED RESOURCES =====\nsection('10. ШВИДКІСТЬ ЗАВАНТАЖЕННЯ РЕСУРСІВ');\nth('Метрика', 'Значення');\nr('Максимальний час', (data.loadingSpeedResources?.maxMs || 0) + ' мс');\nr('Мінімальний час', (data.loadingSpeedResources?.minMs || 0) + ' мс');\nr('Медіана', (data.loadingSpeedResources?.medianMs || 0) + ' мс');\nempty();\nsub('Розподіл за швидкістю');\nth('Категорія', 'Кількість', 'Відсоток');\n(data.loadingSpeedResources?.distribution || []).forEach(function(item) { r(item.category, item.count, item.percent); });\nempty();\n\n// ===== 11. PROTOCOLS =====\nsection('11. ПРОТОКОЛИ');\nsub('Протокол внутрішніх HTML');\nth('Протокол', 'Кількість', 'Відсоток');\n(data.protocols?.html || []).forEach(function(item) { r(item.protocol, item.count, item.percent); });\nempty();\nsub('Протокол зображень та ресурсів');\nth('Протокол', 'Кількість', 'Відсоток');\n(data.protocols?.resources || []).forEach(function(item) { r(item.protocol, item.count, item.percent); });\nempty();\n\n// ===== 12. SEO ELEMENTS =====\nsection('12. SEO-ЕЛЕМЕНТИ');\nsub('Унікальність Title, Description, H1');\nth('Елемент', 'Унікальні', 'Дублюються', 'Відсутні');\n(data.seoElements?.uniqueness || []).forEach(function(item) { r(item.element, item.unique, item.duplicated, item.missing); });\nempty();\nsub('Довжина Title, Description, H1');\nth('Елемент', 'Оптимальні', 'Короткі', 'Довгі');\n(data.seoElements?.length || []).forEach(function(item) { r(item.element, item.optimal, item.short, item.long); });\nempty();\n\n// ===== 13. CONTENT METRICS =====\nsection('13. МЕТРИКИ КОНТЕНТУ');\nsub('Кількість символів на сторінці');\nth('Категорія', 'Кількість', 'Відсоток');\n(data.contentMetrics?.charactersPerPage || []).forEach(function(item) { r(item.category, item.count, item.percent); });\nempty();\nsub('Кількість слів на сторінці');\nth('Категорія', 'Кількість', 'Відсоток');\n(data.contentMetrics?.wordsPerPage || []).forEach(function(item) { r(item.category, item.count, item.percent); });\nempty();\nsub('Розмір зображень');\nth('Категорія', 'Кількість', 'Відсоток');\n(data.contentMetrics?.imageSizes || []).forEach(function(item) { r(item.category, item.count, item.percent); });\nempty();\n\n// ===== 14. ERRORS =====\nsection('14. ПОМИЛКИ');\nsub('Критичність помилок');\nth('Рівень', 'Кількість');\nr('Висока', data.errors?.criticality?.high || 0);\nr('Середня', data.errors?.criticality?.medium || 0);\nr('Низька', data.errors?.criticality?.low || 0);\nempty();\nsub('Топ помилок');\nth('Помилка', 'Кількість', 'Відсоток');\n(data.errors?.topErrors || []).forEach(function(item) { r(item.error, item.count, item.percent); });\nempty();\nsub('Помилки високої критичності');\nth('Помилка', 'Приклад URL', 'Кількість');\n(data.errors?.highCriticality || []).forEach(function(item) { r(item.error, item.exampleUrl, item.count); });\nempty();\nsub('Помилки середньої критичності');\nth('Помилка', 'Приклад URL', 'Кількість');\n(data.errors?.mediumCriticality || []).forEach(function(item) { r(item.error, item.exampleUrl, item.count); });\nempty();\nsub('Помилки низької критичності');\nth('Помилка', 'Приклад URL', 'Кількість');\n(data.errors?.lowCriticality || []).forEach(function(item) { r(item.error, item.exampleUrl, item.count); });\nempty();\n\n// ===== 15. SCAN SETTINGS =====\nsection('15. НАЛАШТУВАННЯ СКАНУВАННЯ');\nth('Параметр', 'Значення');\nr('Проскановано URL', data.scanSettings?.analyzedData?.scannedUrls || '');\nr('Сегментація', data.scanSettings?.analyzedData?.segmentation || '');\nr('Обрано параметрів', data.scanSettings?.analyzedData?.parametersSelected || '');\nr('Макс. час очікування', data.scanSettings?.speedSettings?.maxTimeout || '');\nr('JavaScript рендеринг', data.scanSettings?.speedSettings?.jsRendering || '');\n\nreturn {\n  spreadsheetId: spreadsheetId,\n  spreadsheetUrl: spreadsheetUrl,\n  rows: rows,\n  sectionRows: sectionRows,\n  tableHeaderRows: tableHeaderRows,\n  subHeaderRows: subHeaderRows,\n  totalRows: rows.length\n};"
      },
      "id": "build-sheet-data",
      "name": "Build Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"valueInputOption\": \"USER_ENTERED\",\n  \"data\": [{ \"range\": \"Sheet1!A1\", \"values\": {{ JSON.stringify($json.rows) }} }]\n}",
        "options": {}
      },
      "id": "write-data",
      "name": "Write Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build formatting requests for Google Sheets API\nconst sd = $('Build Sheet Data').first().json;\nconst spreadsheetId = sd.spreadsheetId;\nconst sectionRows = sd.sectionRows;\nconst tableHeaderRows = sd.tableHeaderRows;\nconst subHeaderRows = sd.subHeaderRows;\nconst totalRows = sd.totalRows;\nconst cols = 6;\n\nconst req = [];\n\n// 0. Default font for all cells\nreq.push({\n  repeatCell: {\n    range: { sheetId: 0, startRowIndex: 0, endRowIndex: totalRows, startColumnIndex: 0, endColumnIndex: cols },\n    cell: { userEnteredFormat: { textFormat: { fontFamily: 'Google Sans', fontSize: 10 }, verticalAlignment: 'MIDDLE' } },\n    fields: 'userEnteredFormat(textFormat(fontFamily,fontSize),verticalAlignment)'\n  }\n});\n\n// 1. Rename sheet\nreq.push({\n  updateSheetProperties: {\n    properties: { sheetId: 0, title: 'SEO Аудит' },\n    fields: 'title'\n  }\n});\n\n// 2. Column widths\nvar widths = [350, 200, 120, 120, 120, 120];\nwidths.forEach(function(w, i) {\n  req.push({\n    updateDimensionProperties: {\n      range: { sheetId: 0, dimension: 'COLUMNS', startIndex: i, endIndex: i + 1 },\n      properties: { pixelSize: w },\n      fields: 'pixelSize'\n    }\n  });\n});\n\n// 3. Title row — first section row, extra large centered\nif (sectionRows.length > 0) {\n  var ti = sectionRows[0];\n  req.push({ mergeCells: { range: { sheetId: 0, startRowIndex: ti, endRowIndex: ti + 1, startColumnIndex: 0, endColumnIndex: cols }, mergeType: 'MERGE_ALL' } });\n  req.push({ repeatCell: {\n    range: { sheetId: 0, startRowIndex: ti, endRowIndex: ti + 1, startColumnIndex: 0, endColumnIndex: cols },\n    cell: { userEnteredFormat: {\n      backgroundColor: { red: 0.102, green: 0.451, blue: 0.910 },\n      textFormat: { bold: true, fontSize: 14, foregroundColor: { red: 1, green: 1, blue: 1 }, fontFamily: 'Google Sans' },\n      horizontalAlignment: 'CENTER',\n      verticalAlignment: 'MIDDLE'\n    } },\n    fields: 'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'\n  } });\n  req.push({ updateDimensionProperties: {\n    range: { sheetId: 0, dimension: 'ROWS', startIndex: ti, endIndex: ti + 1 },\n    properties: { pixelSize: 44 },\n    fields: 'pixelSize'\n  } });\n}\n\n// 4. Section headers (skip title at index 0) — dark blue, white bold\nsectionRows.slice(1).forEach(function(ri) {\n  req.push({ mergeCells: { range: { sheetId: 0, startRowIndex: ri, endRowIndex: ri + 1, startColumnIndex: 0, endColumnIndex: cols }, mergeType: 'MERGE_ALL' } });\n  req.push({ repeatCell: {\n    range: { sheetId: 0, startRowIndex: ri, endRowIndex: ri + 1, startColumnIndex: 0, endColumnIndex: cols },\n    cell: { userEnteredFormat: {\n      backgroundColor: { red: 0.102, green: 0.451, blue: 0.910 },\n      textFormat: { bold: true, fontSize: 11, foregroundColor: { red: 1, green: 1, blue: 1 }, fontFamily: 'Google Sans' },\n      horizontalAlignment: 'LEFT',\n      verticalAlignment: 'MIDDLE'\n    } },\n    fields: 'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'\n  } });\n  req.push({ updateDimensionProperties: {\n    range: { sheetId: 0, dimension: 'ROWS', startIndex: ri, endIndex: ri + 1 },\n    properties: { pixelSize: 36 },\n    fields: 'pixelSize'\n  } });\n});\n\n// 5. Sub-headers — light blue bg, blue bold text, merged\nsubHeaderRows.forEach(function(ri) {\n  req.push({ mergeCells: { range: { sheetId: 0, startRowIndex: ri, endRowIndex: ri + 1, startColumnIndex: 0, endColumnIndex: cols }, mergeType: 'MERGE_ALL' } });\n  req.push({ repeatCell: {\n    range: { sheetId: 0, startRowIndex: ri, endRowIndex: ri + 1, startColumnIndex: 0, endColumnIndex: cols },\n    cell: { userEnteredFormat: {\n      backgroundColor: { red: 0.910, green: 0.941, blue: 0.996 },\n      textFormat: { bold: true, fontSize: 10, foregroundColor: { red: 0.102, green: 0.451, blue: 0.910 }, fontFamily: 'Google Sans' },\n      horizontalAlignment: 'LEFT',\n      verticalAlignment: 'MIDDLE'\n    } },\n    fields: 'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'\n  } });\n  req.push({ updateDimensionProperties: {\n    range: { sheetId: 0, dimension: 'ROWS', startIndex: ri, endIndex: ri + 1 },\n    properties: { pixelSize: 30 },\n    fields: 'pixelSize'\n  } });\n});\n\n// 6. Table header rows — gray bg, bold text, bottom border\ntableHeaderRows.forEach(function(ri) {\n  req.push({ repeatCell: {\n    range: { sheetId: 0, startRowIndex: ri, endRowIndex: ri + 1, startColumnIndex: 0, endColumnIndex: cols },\n    cell: { userEnteredFormat: {\n      backgroundColor: { red: 0.945, green: 0.953, blue: 0.957 },\n      textFormat: { bold: true, fontSize: 10, fontFamily: 'Google Sans' },\n      horizontalAlignment: 'LEFT',\n      verticalAlignment: 'MIDDLE'\n    } },\n    fields: 'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'\n  } });\n});\n\n// 7. Light horizontal grid lines across all data\nreq.push({ updateBorders: {\n  range: { sheetId: 0, startRowIndex: 0, endRowIndex: totalRows, startColumnIndex: 0, endColumnIndex: cols },\n  innerHorizontal: { style: 'SOLID', width: 1, color: { red: 0.918, green: 0.933, blue: 0.945 } }\n} });\n\nreturn {\n  spreadsheetId: spreadsheetId,\n  spreadsheetUrl: sd.spreadsheetUrl,\n  formatRequests: req\n};"
      },
      "id": "build-format",
      "name": "Build Format Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: $json.formatRequests }) }}",
        "options": {}
      },
      "id": "apply-format",
      "name": "Apply Formatting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate processing stats and return final response\nconst startTime = $('Clean Text & Remove Brand').first().json.timestamp;\nconst endTime = new Date().toISOString();\nconst processingTime = Math.round((new Date(endTime) - new Date(startTime)) / 1000);\n\nconst spreadsheetUrl = $('Build Sheet Data').first().json.spreadsheetUrl;\nconst totalRows = $('Build Sheet Data').first().json.totalRows;\n\nreturn {\n  success: true,\n  spreadsheetUrl: spreadsheetUrl,\n  sheetName: 'SEO Аудит',\n  totalRows: totalRows,\n  processingTime: processingTime\n};"
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3300, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{"node": "Set Variables", "type": "main", "index": 0}]
      ]
    },
    "Set Variables": {
      "main": [
        [{"node": "Extract File ID", "type": "main", "index": 0}]
      ]
    },
    "Extract File ID": {
      "main": [
        [{"node": "Download PDF", "type": "main", "index": 0}]
      ]
    },
    "Download PDF": {
      "main": [
        [{"node": "Extract PDF Text", "type": "main", "index": 0}]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [{"node": "Clean Text & Remove Brand", "type": "main", "index": 0}]
      ]
    },
    "Clean Text & Remove Brand": {
      "main": [
        [{"node": "AI Parser - Extract All Data", "type": "main", "index": 0}]
      ]
    },
    "AI Parser - Extract All Data": {
      "main": [
        [{"node": "Parse AI Response", "type": "main", "index": 0}]
      ]
    },
    "Parse AI Response": {
      "main": [
        [{"node": "Create Result Spreadsheet", "type": "main", "index": 0}]
      ]
    },
    "Create Result Spreadsheet": {
      "main": [
        [{"node": "Build Sheet Data", "type": "main", "index": 0}]
      ]
    },
    "Build Sheet Data": {
      "main": [
        [{"node": "Write Data", "type": "main", "index": 0}]
      ]
    },
    "Write Data": {
      "main": [
        [{"node": "Build Format Requests", "type": "main", "index": 0}]
      ]
    },
    "Build Format Requests": {
      "main": [
        [{"node": "Apply Formatting", "type": "main", "index": 0}]
      ]
    },
    "Apply Formatting": {
      "main": [
        [{"node": "Prepare Response", "type": "main", "index": 0}]
      ]
    },
    "Prepare Response": {
      "main": [
        [{"node": "Respond", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}
