Robots_Sitemap_Check.json
{
  "name": "Robots.txt + Sitemap Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "robots-sitemap-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1000001-0001-0001-0001-000000000001",
      "name": "Webhook - Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 300],
      "webhookId": "robots-sitemap-check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "domain",
              "name": "domain",
              "value": "={{ $json.body.domain.replace(/^https?:\\/\\//, '').replace(/\\/$/, '') }}",
              "type": "string"
            },
            {
              "id": "base_url",
              "name": "base_url",
              "value": "={{ 'https://' + $json.body.domain.replace(/^https?:\\/\\//, '').replace(/\\/$/, '') }}",
              "type": "string"
            },
            {
              "id": "filter_pattern",
              "name": "filter_pattern",
              "value": "={{ $json.body.filter_pattern || '/tag/' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1000001-0001-0001-0001-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-560, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Variables').item.json.base_url }}/robots.txt",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b1000001-0001-0001-0001-000000000003",
      "name": "Get Robots.txt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-320, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse robots.txt and extract sitemap URLs\nconst robotsResponse = $input.first().json;\nconst baseUrl = $('Set Variables').first().json.base_url;\n\nlet sitemapUrls = [];\n\nif (robotsResponse.statusCode === 200) {\n  const robotsContent = robotsResponse.body || '';\n  \n  // Extract sitemap URLs from robots.txt\n  const sitemapMatches = robotsContent.match(/Sitemap:\\s*(.+)/gi) || [];\n  sitemapUrls = sitemapMatches.map(s => s.replace(/Sitemap:\\s*/i, '').trim());\n}\n\n// If no sitemaps found in robots.txt, try default location\nif (sitemapUrls.length === 0) {\n  sitemapUrls = [baseUrl + '/sitemap.xml'];\n}\n\n// Return each sitemap as separate item for parallel fetching\nreturn sitemapUrls.map(url => ({ json: { sitemap_url: url } }));"
      },
      "id": "b1000001-0001-0001-0001-000000000004",
      "name": "Extract Sitemap URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sitemap_url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b1000001-0001-0001-0001-000000000005",
      "name": "Fetch Sitemaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [160, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse sitemap content and check for sitemap index\nconst items = $input.all();\nlet allChildSitemaps = [];\nlet allPageUrls = [];\n\nfor (const item of items) {\n  const response = item.json;\n  if (response.statusCode !== 200) continue;\n  \n  const body = response.body || '';\n  const sitemapUrl = response.url || '';\n  \n  // Check if it's a sitemap index\n  if (body.includes('<sitemapindex')) {\n    const locMatches = body.match(/<loc>([^<]+)<\\/loc>/gi) || [];\n    const childUrls = locMatches.map(l => l.replace(/<\\/?loc>/gi, ''));\n    allChildSitemaps.push(...childUrls);\n  } else if (body.includes('<urlset')) {\n    // It's a regular sitemap with URLs\n    const locMatches = body.match(/<loc>([^<]+)<\\/loc>/gi) || [];\n    const pageUrls = locMatches.map(l => l.replace(/<\\/?loc>/gi, ''));\n    allPageUrls.push(...pageUrls);\n  }\n}\n\n// Return child sitemaps for further fetching\nif (allChildSitemaps.length > 0) {\n  return allChildSitemaps.map(url => ({ \n    json: { \n      sitemap_url: url, \n      is_child: true,\n      collected_urls: allPageUrls\n    } \n  }));\n}\n\n// No more child sitemaps, return collected URLs\nreturn [{ \n  json: { \n    has_children: false,\n    all_urls: allPageUrls\n  } \n}];"
      },
      "id": "b1000001-0001-0001-0001-000000000006",
      "name": "Parse Sitemaps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "has_children",
              "leftValue": "={{ $json.is_child }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1000001-0001-0001-0001-000000000007",
      "name": "Has Child Sitemaps?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sitemap_url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b1000001-0001-0001-0001-000000000008",
      "name": "Fetch Child Sitemaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse child sitemaps and collect all URLs\nconst items = $input.all();\nconst prevCollected = $('Has Child Sitemaps?').first().json.collected_urls || [];\nlet allPageUrls = [...prevCollected];\n\nfor (const item of items) {\n  const response = item.json;\n  if (response.statusCode !== 200) continue;\n  \n  const body = response.body || '';\n  \n  if (body.includes('<urlset')) {\n    const locMatches = body.match(/<loc>([^<]+)<\\/loc>/gi) || [];\n    const pageUrls = locMatches.map(l => l.replace(/<\\/?loc>/gi, ''));\n    allPageUrls.push(...pageUrls);\n  }\n}\n\nreturn [{ json: { all_urls: allPageUrls } }];"
      },
      "id": "b1000001-0001-0001-0001-000000000009",
      "name": "Parse Child Sitemaps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// Merge all URLs from both branches\nconst items = $input.all();\nlet allUrls = [];\n\nfor (const item of items) {\n  if (item.json.all_urls) {\n    allUrls.push(...item.json.all_urls);\n  }\n}\n\n// Remove duplicates\nallUrls = [...new Set(allUrls)];\n\nreturn [{ json: { all_urls: allUrls, total_count: allUrls.length } }];"
      },
      "id": "b1000001-0001-0001-0001-000000000010",
      "name": "Merge All URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter URLs by pattern (e.g., /tag/)\nconst allUrls = $input.first().json.all_urls || [];\nconst filterPattern = $('Set Variables').first().json.filter_pattern || '/tag/';\nconst domain = $('Set Variables').first().json.domain;\n\n// Filter URLs containing the pattern\nconst filteredUrls = allUrls.filter(url => url.includes(filterPattern));\n\n// Also collect other useful stats\nconst stats = {\n  total_urls: allUrls.length,\n  filtered_urls_count: filteredUrls.length,\n  filter_pattern: filterPattern\n};\n\nreturn [{\n  json: {\n    domain: domain,\n    stats: stats,\n    filtered_urls: filteredUrls,\n    all_urls_sample: allUrls.slice(0, 100) // First 100 for reference\n  }\n}];"
      },
      "id": "b1000001-0001-0001-0001-000000000011",
      "name": "Filter URLs by Pattern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=Sitemap Check - {{ $('Set Variables').first().json.domain }} - {{ $now.format('yyyy-MM-dd') }}",
        "options": {}
      },
      "id": "b1000001-0001-0001-0001-000000000012",
      "name": "Create Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1840, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Google Sheets\nconst data = $('Filter URLs by Pattern').first().json;\nconst spreadsheetId = $input.first().json.spreadsheetId || $input.first().json.id;\n\n// Header row\nconst headerRow = ['URL', 'Pattern Match'];\n\n// Data rows - filtered URLs\nconst rows = [headerRow];\nconst filterPattern = data.stats.filter_pattern;\n\nfor (const url of data.filtered_urls) {\n  rows.push([url, filterPattern]);\n}\n\n// Add summary at the end\nrows.push([]);\nrows.push(['=== SUMMARY ===']);\nrows.push(['Total URLs in Sitemap', data.stats.total_urls]);\nrows.push(['URLs with ' + filterPattern, data.stats.filtered_urls_count]);\nrows.push(['Domain', data.domain]);\n\nreturn [{\n  json: {\n    spreadsheetId: spreadsheetId,\n    rows: rows,\n    stats: data.stats,\n    domain: data.domain\n  }\n}];"
      },
      "id": "b1000001-0001-0001-0001-000000000013",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/A1:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"range\": \"A1\", \"majorDimension\": \"ROWS\", \"values\": $json.rows }) }}",
        "options": {}
      },
      "id": "b1000001-0001-0001-0001-000000000014",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2320, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"domain\": \"{{ $('Filter URLs by Pattern').first().json.domain }}\",\n  \"spreadsheet_url\": \"https://docs.google.com/spreadsheets/d/{{ $('Prepare Sheet Data').first().json.spreadsheetId }}\",\n  \"stats\": {\n    \"total_urls_in_sitemap\": {{ $('Filter URLs by Pattern').first().json.stats.total_urls }},\n    \"urls_with_pattern\": {{ $('Filter URLs by Pattern').first().json.stats.filtered_urls_count }},\n    \"filter_pattern\": \"{{ $('Filter URLs by Pattern').first().json.stats.filter_pattern }}\"\n  }\n}",
        "options": {}
      },
      "id": "b1000001-0001-0001-0001-000000000015",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2560, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Start": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get Robots.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Robots.txt": {
      "main": [
        [
          {
            "node": "Extract Sitemap URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sitemap URLs": {
      "main": [
        [
          {
            "node": "Fetch Sitemaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sitemaps": {
      "main": [
        [
          {
            "node": "Parse Sitemaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sitemaps": {
      "main": [
        [
          {
            "node": "Has Child Sitemaps?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Child Sitemaps?": {
      "main": [
        [
          {
            "node": "Fetch Child Sitemaps",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge All URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Child Sitemaps": {
      "main": [
        [
          {
            "node": "Parse Child Sitemaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Child Sitemaps": {
      "main": [
        [
          {
            "node": "Merge All URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All URLs": {
      "main": [
        [
          {
            "node": "Filter URLs by Pattern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter URLs by Pattern": {
      "main": [
        [
          {
            "node": "Create Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Spreadsheet": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Write to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Sheet": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000003",
  "meta": {
    "instanceId": "9d17d52227a4e309d92bfdb193ff498ba1e95c0c0bc8ff19ed6534df76683725"
  },
  "id": "Robots_Sitemap_001",
  "tags": []
}
